.git
.venv
.pytest_cache
__pycache__
**/__pycache__
*.pyc
*.pyo

.coverage
.coverage.*
htmlcov
.mypy_cache
.ruff_cache
.pytest_cache

db-data
test.db
*.sqlite
*.sqlite3

autotest/.pytest_cache
autotest/tmp
autotest/**/__pycache__

.env
.env.*
!.env.example
